@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coolvetica";
  src:
    url("./fonts/Coolvetica.ttf.woff") format("woff"),
    url("./fonts/Coolvetica.ttf.eot"),
    url("fonts/Coolvetica.ttf.svg#Coolvetica") format("svg"),
    url("fonts/Coolvetica.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: "iori";
    src:
      url("fonts/Coolvetica.ttf.woff") format("woff"),
      url("fonts/Coolvetica.ttf.svg#Coolvetica") format("svg"),
      url("fonts/Coolvetica.ttf.eot"),
      url("fonts/Coolvetica.ttf.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }
}
@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg text-green-500 bg-gray-800 
    hover:bg-green-600 hover:text-white
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer;
  }
  .sidebar-text {
    z-index: 100;
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md
      shadow-md text-white bg-gray-900 text-xs font-bold transition-all
      duration-200 origin-left scale-0;
  }
  .cop {
    align-self: center;
    bottom: 0;
    position: absolute;
    margin-left: 0.5rem;
  }
  .parallax-image {
    @apply min-h-screen bg-center min-w-fit bg-no-repeat bg-cover bg-fixed;
  }
  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }
  .content-container {
    margin: 0 0 0 4rem;
    @apply flex flex-col 
    bg-gray-300 dark:bg-gray-700
    h-full w-full 
    overflow-hidden;
  }
}
